## Heros of Pymoli 
* The first conclusion is based on the gender demographics. The video game players are predominantly male, holding a percentage of 84% of players, overshadowing 14% of female players and nearly 2% of others.
* The second conslusion is regarding the age demographics, based on age groups from >10-40+ about 45% of players are between the age of 20-24 and the next largest group percentage is about 19% in the range of 15-19. The vast majority of players are between the ages of 15 and 24. 
* The final conclusion is for the purchase analysis. Regarding gender, females have a substantially higher average purchase per person meaning they are more likely to purchase items than males and others. Regarding age, the highest average purchase per person falls in the range of 35-39 and then >10.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
game_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_data_pd = pd.read_csv(game_data)

In [62]:
game_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [63]:
# Count number of unique SNs & print in summary table
total_players = len(game_data_pd['SN'].unique().tolist())
summary_players = pd.DataFrame({"Total Players": [total_players]})
summary_players

   Total Players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

In [64]:
# find total number of unique items
un_items_count = len(game_data_pd["Item Name"].unique().tolist())
unique_items = pd.DataFrame({"Total Unique Items": [un_items_count]})

In [65]:
# find average price using mean calculation & round to 2 decimal places
avg_price = game_data_pd["Price"].mean()
avg_price_rd = '${:,.2f}'.format(avg_price)

In [66]:
# find total number of purchases 
total_purchases = len(game_data_pd['Purchase ID'].unique().tolist())

In [67]:
# find total revenue 
total_rev = game_data_pd["Price"].sum()
total_rev_curr = '${:,.2f}'.format(total_rev)

In [68]:
# create df for purchase analysis
purchase_analysis = pd.DataFrame({"Total Unique Items": [un_items_count],
                                  "Average Purchase Price": [avg_price_rd],
                                  "Total Purchases": [total_purchases],
                                  "Total Revenue": [total_rev_curr]})
purchase_analysis

   Total Unique Items Average Purchase Price  Total Purchases Total Revenue
0                 179                  $3.05              780     $2,379.77

## Gender Demographics

In [69]:
# find count by gender of players
gender_count = game_data_pd.groupby("Gender")["SN"].nunique()

In [70]:
# find percentage by gender of players
gender_pct = gender_count/576
gender_per = gender_pct.mul(100).round(2).astype(str) + '%'

In [71]:
# create summary table for gender demographics
gender_demo = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players": gender_per})
gender_demo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [72]:
# find total purchases by gender 
gender_purchase_df = game_data_pd.groupby("Gender")["Item Name"].count()

In [73]:
# find average purchase by gender
gender_avg_df = game_data_pd.groupby("Gender")["Price"].mean()
gender_avg_rd = gender_avg_df.round(2)

In [74]:
# find total purchase amount per gender
gender_total_rev = game_data_pd.groupby("Gender")["Price"].sum()

In [75]:
# find total per person by gender
gender_person_rev = gender_total_rev/gender_count
# gender_per_rd = gender_person_rev.round(2)

In [142]:
def format(x):
    return "${:.2f}".format(x)

# df['C'] = df['C'].apply(format)

In [143]:
gender_pur_analysis = pd.DataFrame({"Puchase Count": gender_purchase_df,
                                   "Average Purchase Price": gender_avg_rd,
                                   "Total Purchase Value": gender_total_rev,
                                   "Avg Total Purchase Per Person": gender_person_rev})

In [144]:
gender_pur_analysis['Average Purchase Price'] = gender_pur_analysis['Average Purchase Price'].apply(format)
gender_pur_analysis['Total Purchase Value'] = gender_pur_analysis['Total Purchase Value'].apply(format)
gender_pur_analysis['Avg Total Purchase Per Person'] = gender_pur_analysis['Avg Total Purchase Per Person'].apply(format)

gender_pur_analysis

,Puchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [145]:
# create bins & corresponding labels for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [146]:
pd.cut(game_data_pd["Age"], bins, labels=group_labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [147]:
# create new column for age group classification
game_data_pd["Age Group"] = pd.cut(game_data_pd["Age"], bins, labels=group_labels)

In [148]:
# group by "Age Groups" and find number of players without duplicates
age_group = game_data_pd.groupby("Age Group")
age_group_total = age_group["SN"].nunique()

In [149]:
# find percentage by age group of players
age_unique = age_group_total/576
age_percent = age_unique.mul(100).round(2).astype(str) + '%'

In [150]:
# create summary table for age demographics
age_demo = pd.DataFrame({"Total Count": age_group_total,
            "Percentage of Players": age_percent})
age_demo

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [151]:
# groupby "Age Group"
age_group = game_data_pd.groupby("Age Group")

In [152]:
# count number of players without duplicates
age_count = age_group["SN"].nunique()

In [153]:
# find total purchase by age group
age_purchase_df = game_data_pd.groupby("Age Group")["Item Name"].count()

In [154]:
# find average purchase price by age group
age_avg_df = game_data_pd.groupby("Age Group")["Price"].mean()
age_avg_rd = age_avg_df.round(2)

In [155]:
# find total purchase value by age group
age_total_rev = game_data_pd.groupby("Age Group")["Price"].sum()

In [156]:
# find avg total purchase per person by age group
age_person_rev = age_total_rev/age_count
age_per_rd = age_person_rev.round(2)

In [157]:
# create a summary table for age purchasing analysis
age_pur_analysis = pd.DataFrame({"Purchase Count": age_purchase_df,
                                "Average Purchase Price": age_avg_rd,
                                "Total Purchase Value": age_total_rev,
                                "Avg Total Purchase Per Person": age_per_rd})

In [158]:
age_pur_analysis['Average Purchase Price'] = age_pur_analysis['Average Purchase Price'].apply(format)
age_pur_analysis['Total Purchase Value'] = age_pur_analysis['Total Purchase Value'].apply(format)
age_pur_analysis['Avg Total Purchase Per Person'] = age_pur_analysis['Avg Total Purchase Per Person'].apply(format)

age_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [159]:
# Create groupby for SN & Prices to calculate purchase analysis per SN
big_spenders = game_data_pd.groupby("SN")["Price"]

In [160]:
# calculate number of purchases per SN
big_spenders_count = big_spenders.count()

In [161]:
# calculate total of purchases per SN
big_spenders_total = big_spenders.sum()

In [162]:
# calculate average purchase per SN
big_spenders_avg = big_spenders.mean()
big_spenders_avg_rd = big_spenders_avg.round(2)

In [163]:
# create a top spender summary table
top_spender_analysis = pd.DataFrame({"Purchase Count": big_spenders_count,
                        "Average Purchase Price": big_spenders_avg_rd,
                        "Total Purchase Value": big_spenders_total})

In [164]:
top_spender_analysis['Average Purchase Price'] = top_spender_analysis['Average Purchase Price'].apply(format)
top_spender_analysis['Total Purchase Value'] = top_spender_analysis['Total Purchase Value'].apply(format)

In [165]:
# find the top five spenders
top_five_spenders = top_spender_analysis.sort_values(by='Total Purchase Value', ascending=False).head(5)
top_five_spenders

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

In [166]:
# create new table with Item ID, Item Name, & Price
popular_items_df = game_data_pd.loc[:, ["Item ID", "Item Name", "Price"]]
popular_items_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [167]:
# groupby the Item ID & Item Name
popular_items_grouped = popular_items_df.groupby(['Item ID', 'Item Name'])['Price']

In [168]:
# find the item count per item
popular_items_count = popular_items_grouped.count()

In [169]:
# find the average price per item
popular_items_avg = popular_items_df.groupby(['Item ID', 'Item Name'])['Price'].mean()

In [170]:
# find the total purchase value of each item
popular_items_total = popular_items_df.groupby(['Item ID', 'Item Name'])['Price'].sum()

In [171]:
# create summary table for most popular items
popular_items_analysis = pd.DataFrame({"Purchase Count": popular_items_count,
                                      "Item Price": popular_items_avg,
                                      "Total Purchase Value": popular_items_total})

In [172]:
popular_items_analysis['Item Price'] = popular_items_analysis['Item Price'].apply(format)
popular_items_analysis['Total Purchase Value'] = popular_items_analysis['Total Purchase Value'].apply(format)

In [173]:
most_popular_items = popular_items_analysis.sort_values(by='Purchase Count', ascending=False).head(5)
most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [175]:
# sort the items table by total purchase value to get the most profitable items
most_profitable_items = popular_items_analysis.sort_values(by='Total Purchase Value', ascending=False).head(5)
most_profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48